@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++
 ---------------- GERAIS - BODY TEXT --------------------
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #fff;
    font-weight: 400;
    color: #000000;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0;
}



h1 {
    font-size: 40px;
}


h2 {
    font-size: 36px;
}
h2.reduce {
    font-size: 34px;
}

.ft-30{
    font-size:30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6{
    font-size: 17px;
}

p {
    font-size: 18px;
    line-height: 1.2;
    margin: 0;
}

.special{
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
}
.strong{
    font-weight: 700;
}

small{
    font-size: 68%;
    line-height: 1;
}

.font-normal{
    font-weight: 400!important;
}

.font-light{
    font-weight:300!important;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++
 ---------------- GERAIS - BODY COLOR --------------------
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.text-primary {
    color: #0062a4 !important;
}

.text-secondary {
    color: #ff4b8b     !important;
}

.text-gray {
    color: #898989 !important;
}

.text-white {
    color: #FFFFFF;
}

.text-muted{
    color:#737373;
}

.text-black{
    color:#000000;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++
 ---------------- GERAIS - BODY IMAGENS --------------------
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.responsive_img {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.wrapper-recaptcha{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    min-height: 200px;
    padding: 0;
    position: relative;
}


.backdrop:after {
    content: " ";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
    z-index: 1;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++
 ---------------- GERAIS BODY HACKING ---------------
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
 .container-fluid{
    max-width: 1920px;
    margin: 0 auto;
 }
 
 @media (min-width:1300px) {
    .container {
        max-width: 1140px;
    }
}
address{
    margin: 0;
}
ul{
    margin: 0;
    list-style: none;
    padding: 0;
}


section{
    padding: 30px 40px ;
}

.wrapper-text{
    width: 100%;
    max-width:930px;
    padding: 0  10px;
    margin: 0 auto;
}

.wrapper-text.wrapper-small{
    max-width:675px;
}

.no-border{
    border:none;
}

.center{
    text-align: center!important;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.pb-none{
    padding-bottom: 0!important;
}

.hide {
    display: none !important;
}

.nowrap{
    white-space: nowrap; 
}

.flip{
    transform: rotate(180deg);
}

.pw-n{
    padding-right: 0!important;
    padding-left: 0!important;
}

.ph-n{
    padding-top: 0!important;
    padding-bottom: 0!important;
}

.mb-7{
    margin-bottom: 70px!important;
}

.mt-lg{
    margin-top: 30px!important;
}
.mt-30{
    margin-top: 30px!important;
}

.mt-40{
    margin-top: 40px!important;
}
.mb-40{
    margin-bottom: 40px;
}

.mb-lg{
    margin-bottom: 30px !important;
}
 
.mb-xl{
    margin-bottom: 60px !important;
}
.mb-7x{
    margin-bottom: 150px !important;
}

.ml-10{
    margin-left:10px !important;
}
.ml-15{
    margin-left:15px !important;
}
.ml-20{
    margin-left:20px !important;
}
.ml-30{
    margin-left:30px !important;
}
.ml-40{
    margin-left:40px !important;
}

.mr-1{
    margin-right:10px !important;
}
.mr-15{
    margin-right:15px !important;
}
.mr-2{
    margin-right:20px !important;
}
.mr-3{
    margin-right:30px !important;
}
.mr-4{
    margin-right:40px !important;
}

@media screen {
    .no-screen{
        display: none !important;
    }
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++
 ---------------- GERAIS BODY BACKGROUND ---------------
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.bg-white {
    background-color: #FFFFFF;
}

.bg-blue {
    background-color: #0062a4;
    color:#fff;
}

.gradient-bg{
    background-image: linear-gradient(180deg,  #ff4b8b, #0062a4);
    
}

.bg-transparent{
    background-color: transparent;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++
 ---------------- buttons ---------------
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


.btn {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    padding: 13px 50px;
    border-radius: 25px;
}

.btn:hover,
.btn:focus,
.btn:active {
     box-shadow: none!important;
     outline: none !important;
 }


.btn.btn-medium {
    max-height: 36px;
    padding: 10px 25px;

}

.btn-block{
    width: 100%;
}


.btn-primary {
     background-color: #ff4b8b;
     border: 1px solid #ff4b8b;
 }


.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled):active {
    background-color:  #ff2873;
    border: 1px solid  #ff2873;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #f673a1;
    border-color: #f673a1;
    cursor: not-allowed;
}

.btn-outline-primary {
    background-color: transparent;
    border: 1px solid #ff4b8b;
    color: #ff4b8b;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary:not(:disabled):not(.disabled):active {
    background-color:  #ff4b8b;
    border: 1px solid  #ff4b8b;
    color:#fff;
}


.btn-secondary {
    background-color: #0062a4;
    border: 1px solid #0062a4;
}



 .btn-secondary:hover,
 .btn-secondary:focus,
 .btn-secondary:active,
 .btn-secondary:not(:disabled):not(.disabled):active {
     background-color: #005186;
     border: 1px solid #005186;
 }

 .btn-outline-secondary{
    background-color: transparent;
    border: 1px solid #0062a4;
 }

 .btn-outline-secondary:hover,
 .btn-outline-secondary:focus,
 .btn-outline-secondary:active,
 .btn-outline-secondary:not(:disabled):not(.disabled):active {
     background-color: #0062a4;
     border: 1px solid #0062a4;
 }


 .btn-gradient{
    background-image: linear-gradient(45deg, #0062a4, #ff4b8b);
    border: 1px solid transparent;
    color:#fff;
    background:     
        linear-gradient(45deg, #0062a4, #ff4b8b) border-box ;
 } 

 .btn-muted {
    background-color: #bbb4a8;
    border: 1px solid #bbb4a8;
    color:#ffffff;
}



 .btn-muted:hover,
 .btn-muted:focus,
 .btn-muted:active,
 .btn-muted:not(:disabled):not(.disabled):active {
     background-color: #9f998e;
     border: 1px solid #9f998e;
     color:#ffffff;
 }

 .btn-icon {
     display: flex;
     justify-content: center;
     align-items: center;
 }


 .icon-btn {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-right: 8px;
 }

 .icon-btn i {
     font-size: 12px;
 }

 .icon-btn i.icon-lg {
     font-size: 18px;
     margin-left: 8px;
 }
 
 .btn-right{
    margin-left:18px
 }


 /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++
 -----------------  FORM  Control-------------------
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
textarea.form-control,
.form-select,
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    max-height: 45px;
    padding: 8px 16px;
    font-size: 20px;
    color: #495057;
    border: 1px solid #bbb4a8;
    border-radius: 25px;
}

textarea.form-control {
    min-height: 100px;
}

.form-select:focus,
textarea.form-control:focus,
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #0062a4;
    outline: 0;
    box-shadow: none;
}

textarea.form-control:disabled,
.form-control:disabled {
    cursor: not-allowed;
    background-color: rgba(236, 236, 236, 0.3);
}

textarea.form-control.group-danger ,
.control-danger.form-control {
    border-color: #ff0000;
    color: #FF0000;
}
 /* +++++++++++++++++++++++++++++++++++++++++++++++++++++
 ---------------- cards--------------------
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
 .card{
    border:none;
 }
 .card-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
    background-color: transparent;
    border:none;
 }

.card-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.card-icon.icon-square{
    border:4px solid #ffffff!important;
    width: 145px;
    height: 145px;
    border-radius: 22px;
}

.card-icon.icon-rounded{
    border: 4px solid transparent;
    background: 
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(45deg, #659fc6, #ff4b8b) border-box ;
    width: 110px;
    height: 110px;
    padding: 20px;
    border-radius:50%
}

.card-body{
    padding: 0 20px;
}

.card-body.card-content{
    padding: 0 40px;
}
 
 /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++
 ---------------- Header---------------
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.header{
    width: 100%;
    height: 90px;
    background-color: #0062a4;
    display: flex;
    position: relative;
}
.navbar{
    width: 100%;
    padding: 0;
}
.nav-item{
    position: relative;
    margin: 0 14px;
}

.nav-link{
    font-size: 15px;
    color: #ffffff;
    font-weight:300;
    text-transform: uppercase;
    width: 100%;
    height: 90px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus{    
    color:#fff!important;
}
.nav-link:after{
    content: "";
    position: absolute;
    bottom: -4px;
    left:0;
    width: 0;
    height: 10px;
    background-color: rgba(255, 75, 139, .5);
    border-radius: 5px;
    z-index: 1;
    transition: 0.5s ease-in-out;
}

.nav-link:hover::after{
   width: 100%;
}
.nav-link.active::after{
    content: "";
    position: absolute;
    bottom: -4px;
    left:0;
    width: 100%;
    height: 10px;
    background-color: #ff4b8b;
    border-radius: 5px;
    z-index: 1;
}

.nav-item-especial{
   display: flex;
   justify-self: center;
   align-items: center;
   position: relative;
   z-index: 1;
   
}

.nav-link-especial{
    padding: 7px 25px;
    border: 2px solid transparent;
    background: 
    linear-gradient(#0062a4, #0062a4) padding-box,
    linear-gradient(45deg,#ff4b8b, #659fc6, #659fc6, #ff4b8b) border-box ;
    color:#FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    border-radius: 18px;
    display: flex;
    justify-self: center;
    align-items: center;
    cursor: pointer;
}

.nav-link-especial:hover{
    background: 
    linear-gradient(#0062a4, #0062a4) padding-box,
    linear-gradient(45deg, #ff4b8b, #ff4b8b, #659fc6, #ff4b8b, #ff4b8b) border-box ;
}

.nav-item-especial .nav-link-especial.active{
    background-color: #ff4b8b!important;
    background: none;
}

@media (max-width: 1200px){
    .header{
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .navbar .nav{
        display: flex;
        flex-direction: column;
    }
 }

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++
 ---------------- Banner --------------------
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
 .carousel{    
    position: relative;
 }

 .carousel-inner{
    height: auto;
    overflow: initial;
 }

 .carousel-item{
    height: 535px;
    overflow: hidden;    
 }

 .carousel-content{
    width: 100%;
    position: absolute;
    top: 0;
 }

 .content-action{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 535px;
 }
 
 .carousel-indicators{
    margin-bottom: 30px;
 }
 .carousel-indicators.indicators-bullets button{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color:#0062a4;
    opacity: 1;
 }
 .carousel-indicators.indicators-bullets button.active{    
    background-color:#ff4b8b;
 }

 .content-action-button{
    margin-top: 40px;
 }

 @media (min-width: 1600px){
    .carousel-item,
    .carousel-item{
        
        height: 635px;
        
     }
 }


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++
 ---------------- Section simulador--------------------
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.simulador-bg-icon{
    background: url('/Assets/Imagens/Icons/HomeSectionSimulator/home_icon_simulator.png') no-repeat center center;
    background-size: contain;
    height: auto;
    width: 100%;
    max-width: 460px;
    display: block;
    position: relative;
    overflow: hidden;
}

.simulator-description{
    padding: 45px 0;
}

.content-form{
    padding: 20px 0;
}

.content-form.form-central{
    padding: 20px 0;
    max-width: 535px;
    margin: 20px auto;
}

.content-form.content-form-small{
    max-width:535px;
}

.content-buttons{
    display: flex;
    justify-content: center;
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++
 ---------------- FOOTER --------------------
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

 .footer{
    padding: 20px 0;
    display: flex;
   align-items: center;
 }

.brand-footer{
    width: 70px;
    height: 70px;
}
 .content-footer{
    display: flex;
 }

 .address-footer{
    padding:15px 0;
    display: flex;
    flex-direction: column;
   align-items: flex-start;
   margin-left: 25px;
 }

 address p{
    font-size: 16px;
 }

 .address-footer h4 a{
    text-decoration: none;
    color:#fff;
 }
 .social-footer{
    display: flex;
    align-items: center;
    padding: 20px 0;
 }

 .social-footer span{
    font-size: 16px;
 }
.icon-content{
    display: flex;    
    align-items: center;
}

.social-icon{
    height: 48px;
    width:48px;
    background-color: #ff4b8b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}
 
.social-icon i{
    font-size:28px
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++
 ---------------- PAGE FORM CAPTACAO --------------------
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.banner-content{
    position:relative;
    width: 100%;
   overflow: hidden;
    height: 397px;
}
 .banner-image{
    width: 100%;
    position: absolute;
    top: 0;
 }

 .banner-image.banner-footer{
    top: initial;
    bottom: 0;
 }

 .banner-action{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 397px;
 }
 
 .banner-action h1{
    font-size: 66px;
 }

 @media (min-width: 1600px){
    .banner-content,
    .banner-action{
        height: 445px;
     }
 }

 /* +++++++++++++++++++++++++++++++++++++++++++++++++++++
 ---------------- Box    --------------------
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.box{
    margin-bottom: 50px;
}

.box-header{
    width: 100%;
    height: 350px;
    max-width: 350px;
    display: flex;
    align-items: flex-end;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    padding: 40px;
}

 .box-image{
    position: absolute;
    bottom: 0;
    right: 0;
 }

 .box-description{
    width: 100%;
    position: relative;
    z-index: 1;
 }

 .box-body{
    border: 4px solid #0062a4;
    padding: 40px;
    border-radius:20px;
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 690px;
    margin-bottom: 30px;
 }

 .box-icon{
    width: 85px;
    height: 85px;
    background-color: #ff4b8b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 0 auto 12px;
 }
 .wrapper_box-action{
    margin-top: 10px;
    position: relative;
    width: 100%;
 }

 .box-action{
    padding: 10px 0 0;
    position: absolute;
    bottom: 40px;
    margin-top: 20px;
    z-index: 0;
 }

 /* +++++++++++++++++++++++++++++++++++++++++++++++++++++
 ---------------- Finance result    --------------------
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

 .finance-result{
    border: 3px solid transparent;
    background: 
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(45deg,  #0062a4, #ff4b8b) border-box ;
    border-radius: 24px;
    padding: 30px 40px 25px;
    max-width: 540px;
    margin: 0 auto;
    display: block;
 }

 .result-list{
    width:100%;
 }

 .result-item{
    width:100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #bbb4a8;
    font-size: 18px;
    line-height: 2.2;
 }

 .result-item:last-child{
    
    border-bottom:none;
 }

 .icon-message{
    height: 96px;
    width: 96px;
    margin: 0 auto;
 }