@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++
 ---------------- GERAIS - BODY TEXT --------------------
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #fff;
    font-weight: 400;
    color: #000000;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0;
}



h1 {
    font-size: 40px;
}

h2 {
    font-size: 36px;
}
h2.reduce {
    font-size: 34px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6{
    font-size: 17px;
}

p {
    font-size: 18px;
    line-height: 1.2;
    margin: 0;
}

.special{
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
}
.strong{
    font-weight: 700;
}

small{
    font-size: 68%;
    line-height: 1;
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++
 ---------------- GERAIS - BODY COLOR --------------------
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.text-primary {
    color: #0062a4 !important;
}

.text-secondary {
    color: #ff4b8b     !important;
}

.text-gray {
    color: #898989 !important;
}

.text-white {
    color: #FFFFFF;
}

.text-muted{
    color:#737373;
}

.text-black{
    color:#000000;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++
 ---------------- GERAIS - BODY IMAGENS --------------------
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.responsive_img {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.main{
    min-height: 200px;
    padding: 0;
    position: relative;
}

.mb-7{
    margin-bottom: 5rem;
}


.backdrop:after {
    content: " ";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
    z-index: 1;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++
 ---------------- GERAIS BODY HACKING ---------------
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
 .container-fluid{
    max-width: 1920px;
    margin: 0 auto;
 }
 
 @media (min-width:1300px) {
    .container {
        max-width: 1140px;
    }
}

ul{
    margin: 0;
    list-style: none;
    padding: 0;
}

.center{
    text-align: center!important;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.pb-none{
    padding-bottom: 0!important;
}

.hide {
    display: none !important;
}

.nowrap{
    white-space: nowrap; 
}

.flip{
    transform: rotate(180deg);
}

.pw-n{
    padding-right: 0!important;
    padding-left: 0!important;
}

.ph-n{
    padding-top: 0!important;
    padding-bottom: 0!important;
}

.mt-lg{
    margin-top: 30px;
}

.mb-lg{
    margin-bottom: 30px;
}

@media screen {
    .no-screen{
        display: none !important;
    }
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++
 ---------------- GERAIS BODY BACKGROUND ---------------
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.bg-white {
    background-color: #FFFFFF;
}

.bg-blue {
    background-color: #0062a4;
    color:#fff;
}

.gradient-bg{
    background-image: linear-gradient(180deg,  #ff4b8b, #0062a4);
    
}

.bg-transparent{
    background-color: transparent;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++
 ---------------- buttons ---------------
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


.btn {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    padding: 13px 40px;
    border-radius: 25px;
}

.btn:hover,
.btn:focus,
.btn:active {
     box-shadow: none!important;
     outline: none !important;
 }


.btn.btn-medium {
    max-height: 36px;
    padding: 10px 25px;

}

.btn-block{
    width: 100%;
}


.btn-primary {
     background-color: #ff4b8b;
     border: 1px solid #ff4b8b;
 }


.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled):active {
    background-color:  #ff2873;
    border: 1px solid  #ff2873;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #f673a1;
    border-color: #f673a1;
    cursor: not-allowed;
}

.btn-outline-primary {
    background-color: transparent;
    border: 1px solid #ff4b8b;
    color: #ff4b8b;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary:not(:disabled):not(.disabled):active {
    background-color:  #ff4b8b;
    border: 1px solid  #ff4b8b;
    color:#fff;
}


.btn-secondary {
    background-color: #0062a4;
    border: 1px solid #0062a4;
}



 .btn-secondary:hover,
 .btn-secondary:focus,
 .btn-secondary:active,
 .btn-secondary:not(:disabled):not(.disabled):active {
     background-color: #005186;
     border: 1px solid #005186;
 }

 .btn-outline-secondary{
    background-color: transparent;
    border: 1px solid #0062a4;
 }

 .btn-outline-secondary:hover,
 .btn-outline-secondary:focus,
 .btn-outline-secondary:active,
 .btn-outline-secondary:not(:disabled):not(.disabled):active {
     background-color: #0062a4;
     border: 1px solid #0062a4;
 }


 .btn-gradient{
    background-image: linear-gradient(45deg, #0062a4, #ff4b8b);
    border: 1px solid transparent;
    color:#fff;
    background:     
        linear-gradient(45deg, #0062a4, #ff4b8b) border-box ;
 } 

 .btn-icon {
     display: flex;
     justify-content: center;
     align-items: center;
 }


 .icon-btn {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-right: 8px;
 }

 .icon-btn i {
     font-size: 12px;
 }

 .icon-btn i.icon-lg {
     font-size: 18px;
     margin-left: 8px;
 }
 
 /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++
 -----------------  FORM  Control-------------------
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
textarea.form-control,
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    max-height: 45px;
    padding: 8px 16px;
    font-size: 20px;
    color: #495057;
    border: 1px solid #bbb4a8;
    border-radius: 25px;
}

textarea.form-control {
    min-height: 100px;
}

textarea.form-control:focus,
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #0062a4;
    outline: 0;
    box-shadow: none;
}

textarea.form-control:disabled,
.form-control:disabled {
    cursor: not-allowed;
    background-color: rgba(236, 236, 236, 0.3);
}

textarea.form-control.group-danger ,
.control-danger.form-control {
    border-color: #ff0000;
    color: #FF0000;
}
 /* +++++++++++++++++++++++++++++++++++++++++++++++++++++
 ---------------- cards--------------------
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
 .card{
    border:none;
 }
 .card-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: transparent;
 }

.card-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.card-icon.icon-square{
    border:4px solid #ffffff!important;
    width: 145px;
    height: 145px;
    border-radius: 22px;
}
section{
    padding: 30px 40px ;
}


.no-border{
    border:none;
}
 
 /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++
 ---------------- Header---------------
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.header{
    width: 100%;
    height: 90px;
    background-color: #0062a4;
    display: flex;
    position: relative;
}
.navbar{
    width: 100%;
    padding: 0;
}
.nav-item{
    position: relative;
    margin: 0 14px;
}

.nav-link{
    font-size: 15px;
    color: #ffffff;
    font-weight:300;
    text-transform: uppercase;
    width: 100%;
    height: 90px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus{    
    color:#fff!important;
}
.nav-link:after{
    content: "";
    position: absolute;
    bottom: -4px;
    left:0;
    width: 0;
    height: 10px;
    background-color: rgba(255, 75, 139, .5);
    border-radius: 5px;
    z-index: 1;
    transition: 0.5s ease-in-out;
}

.nav-link:hover::after{
   width: 100%;
}
.nav-link.active::after{
    content: "";
    position: absolute;
    bottom: -4px;
    left:0;
    width: 100%;
    height: 10px;
    background-color: #ff4b8b;
    border-radius: 5px;
    z-index: 1;
}

.nav-item-especial{
   display: flex;
   justify-self: center;
   align-items: center;
   position: relative;
   z-index: 1;
   
}

.nav-link-especial{
    padding: 7px 25px;
    border: 2px solid transparent;
    background: 
    linear-gradient(#0062a4, #0062a4) padding-box,
    linear-gradient(45deg,#ff4b8b, #659fc6, #659fc6, #ff4b8b) border-box ;
    color:#FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    border-radius: 18px;
    display: flex;
    justify-self: center;
    align-items: center;
    cursor: pointer;
}

.nav-link-especial:hover{
    background: 
    linear-gradient(#0062a4, #0062a4) padding-box,
    linear-gradient(45deg, #ff4b8b, #ff4b8b, #659fc6, #ff4b8b, #ff4b8b) border-box ;
}

@media (max-width: 1200px){
    .header{
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .navbar .nav{
        display: flex;
        flex-direction: column;
    }
 }

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++
 ---------------- Banner --------------------
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
 .carousel{    
    position: relative;
 }

 .carousel-inner{
    height: auto;
    overflow: initial;
 }

 .carousel-item{
    height: 535px;
    overflow: hidden;    
 }

 .banner-content{
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
 }

 .content-action{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 535px;
 }
 
 .carousel-indicators{
    margin-bottom: 30px;
 }
 .carousel-indicators.indicators-bullets button{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color:#0062a4;
    opacity: 1;
 }
 .carousel-indicators.indicators-bullets button.active{    
    background-color:#ff4b8b;
 }

 .content-action-button{
    margin-top: 40px;
 }

 @media (min-width: 1600px){
    .carousel-item,
    .carousel-item{
        
        height: 635px;
        
     }
 }


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++
 ---------------- Section simulador--------------------
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.simulador-bg-icon{
    background: url('/Assets/Imagens/Icons/HomeSectionSimulator/home_icon_simulator.png') no-repeat center center;
    background-size: contain;
    height: auto;
    width: 100%;
    max-width: 460px;
    display: block;
    position: relative;
    overflow: hidden;
}

.simulator-description{
    padding: 45px 0;
}

.content-form{
    padding: 20px 0;
}